//
// Map Component SCSS Stylesheet
//

.c-map-with-pins
{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;

  img
  {
    max-width: none;
    max-height: none;
  }
}

.dir-map
{
  width: 100%;
  height: 100%;
  line-height: normal;

  *
  {
    box-sizing: content-box;
  }
}

// Taken from the Google Maps css
// Override our base.scss reset for Google Maps
.gm-style img
{
  max-width: none;
  max-height: none;
}
